*
{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

section{
    background:linear-gradient(rgba(0,0,0,0.47),rgba(0,0,0,0.478)) ,url(./media/bg\ image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px;
    width:100vw;
    height:734px;


}

nav{
    margin:0px 56px;
    padding-top: 28px;
    display:flex;
    justify-content: space-between;

}
nav svg{
    width:167px;
    height:45px;
    fill:#e50914;

}

#ads{
    background-color: black;
    height:474px;
    width:100vw;
    padding:70px 45px;
    border-top: 8px solid #222;
    border-bottom: 8px solid #222;



}

#ads>div{
    width:1100px;
    height:325px;
    margin:auto;
    display:flex;
    justify-content: center;
    align-items: center;


}

#text-container{
    color:white;
    width:595px;
    height:182px;


}
#text-container h1{
    font-size: 50px;
    line-height:1.1;


}
#text-container h2{
    font-size: 26px;
}
#media-container{
    width:504px;
    height:326px;
}

#media-container img{
    width:530px;
    height:398px;
    position:relative;
    bottom:50px;
    z-index:2;

}
#media-container video{
    width:388px;
    height:217px;
    position:relative;
    bottom:368px;
    left:70px;
    z-index:1;
}

#download-info{
    background: black;
    width:100vw;
    height:470px;
    padding:70px 45px;
    border-bottom: 8px solid #222;
}

#download-info>div{
    width:1100px;
    height:322px;
    display:flex;
    justify-content: center;
}

#download-actions{
    width:503px;
    height:100%;
}

#download-actios>img{
    width:505px;
    height:378px;
    position:relative;
    bottom:30px;
    left:30px;
}

#download-actions>div{
    background-color: black;
    width:330px;
    height:96px;
    padding:8px 32px;
    border:2px solid rgb(47,47,47);
    border-radius: 12px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom:140px;
    left:105px;
}