h1{
    
    color:orange;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 30px 3px 30px solid red;
    text-align: center;

}

.box1
{
    height:50px;
    width:350px;
    background-color: orange;
}

.box2
{
    height:50px;
    width:350px;
    background-color: white;
   
}
.box3
{
    height:50px;
    width:350px;
    background-color:green;
   
}

body,div,h1
{
    margin:50px auto;

}
